In [2]:
import numpy as np

## Task 1

In [3]:
def analytic_solution(P):
     
    # Find the eigenvalues and the eigenvalues   
    eigenvalues, eigenvectors = np.linalg.eig(P.T)
    # Select the eigenvectors that correspons to the egienvalue = 1
    eigenvectors = [-eigenvectors[i][0] for i in range(len(eigenvectors))]
    # return the normalized and real part of the vectors (all imaginary parts are zero anyway)
    result = [(i/sum(eigenvectors)).real for i in eigenvectors]
    return result

In [4]:
def simulation(P, T):
    
    # number of states
    n = len(P)
    # list for the realization count of the states
    state_count = [0 for _ in range(n)]
    # Cumulative probability matrix
    cumulative_prob_matrix = np.cumsum(P, axis=1)
    # Start with a random initial state
    current_state = np.random.randint(1, n)
    
    for i in range(T):
        # Generate a random number ùëü in [0,1)
        r = np.random.random()
        next_state = np.searchsorted(cumulative_prob_matrix[current_state], r)
        # Count the occurances of the state
        state_count[next_state] += 1
        # Update the current state
        current_state = next_state
    # return the steady-state probabilities
    result = [i/sum(state_count) for i in state_count]
    return result

In [5]:
def matrix_multiplication(P, epsilon):
    
    # Start with iteration 2, since first iteration is trivial.
    t = 1
    stop = 0
    count = 0
    
    while stop != 1: 
        
        # Increase the number of the iteration by 1 at each iteration
        t += 1
        # Find the A = P^(2^t-2) matrix
        A = np.linalg.matrix_power(P, 2**(t-2))
        # Multiply A by itself to find P^(2^t-1)
        P_power = A @ A
        
        # Difference between the Pij and œÄj is kept in a list
        difference_list = []
        for i in range(len(P)):
                difference_list.append(np.absolute(P_power[0][i] - A[0][i]))
        
        for i in difference_list:
            if i < epsilon:
                count += 1
        if count == len(P):
            # If the difference < epsilon satisfied for every entry, then stop
            stop = 1
        else:
            # If not, then reset the count and start over
            count = 0
    
    
    result = [i for i in P_power[0]]
    return result

## Task 2

### Dataset 1

In [6]:
P10 = np.loadtxt("path10")
T = 10**6
epsilon = 0.000001

In [7]:
result10_1 = analytic_solution(P10)
result10_2 = simulation(P10, T)
result10_3 = matrix_multiplication(P10, epsilon)

In [8]:
import pandas as pd
pd.DataFrame({'1': result10_1, '2' : result10_2, '3': result10_3})

          1         2         3
0  0.095687  0.095388  0.095687
1  0.066885  0.067053  0.066885
2  0.111511  0.111455  0.111511
3  0.084495  0.084656  0.084495
4  0.143999  0.144168  0.143999
5  0.078892  0.079047  0.078892
6  0.049379  0.049632  0.049379
7  0.098009  0.097859  0.098009
8  0.125908  0.125531  0.125908
9  0.145235  0.145211  0.145235

### Dataset 2

In [9]:
P100 = np.loadtxt("path100")
T = 10**6
epsilon = 0.000001

In [10]:
result100_1 = analytic_solution(P100)
result100_2 = simulation(P100, T)
result100_3 = matrix_multiplication(P100, epsilon)

In [11]:
pd.DataFrame({'1': result100_1, '2' : result100_2, '3': result100_3})

           1         2         3
0   0.010674  0.010755  0.010674
1   0.010939  0.011065  0.010939
2   0.009658  0.009631  0.009658
3   0.010672  0.010563  0.010672
4   0.010432  0.010336  0.010432
..       ...       ...       ...
95  0.009058  0.009067  0.009058
96  0.009664  0.009601  0.009664
97  0.008846  0.008858  0.008846
98  0.009916  0.009821  0.009916
99  0.010092  0.009893  0.010092

[100 rows x 3 columns]

### Dataset 3

In [12]:
P1000 = np.loadtxt("path1000")
T = 10**6
epsilon = 0.000001

In [13]:
result1000_1 = analytic_solution(P1000)
result1000_2 = simulation(P1000, T)
result1000_3 = matrix_multiplication(P1000, epsilon)

In [14]:
pd.DataFrame({'1': result1000_1, '2' : result1000_2, '3': result1000_3})

            1         2         3
0    0.000973  0.001023  0.000973
1    0.000977  0.001024  0.000977
2    0.001022  0.000978  0.001022
3    0.000974  0.001023  0.000974
4    0.000988  0.000955  0.000988
..        ...       ...       ...
995  0.000968  0.000950  0.000968
996  0.001039  0.001057  0.001039
997  0.001007  0.000972  0.001007
998  0.001062  0.001089  0.001062
999  0.000969  0.000971  0.000969

[1000 rows x 3 columns]

## Task 3

In [15]:
# Mean Square Error function

def MSE(set1, set2):
    
    squared_error = sum([(set1[i] - set2[i])**2 for i in range(len(set1))])
    mse = squared_error / len(set1)
    return mse

In [16]:
MSE10_2 = MSE(result10_1, result10_2)
MSE10_3 = MSE(result10_1, result10_3)

MSE100_2 = MSE(result100_1, result100_2)
MSE100_3 = MSE(result100_1, result100_3)

MSE1000_2 = MSE(result1000_1, result1000_2)
MSE1000_3 = MSE(result1000_1, result1000_3)

In [17]:
a = [MSE10_2, MSE10_3, MSE100_2, MSE100_3, MSE1000_2, MSE1000_3]
a

[4.286147181355614e-08,
 2.373708656457268e-33,
 9.53812676202192e-09,
 5.0546633243550626e-34,
 9.50408501235356e-10,
 9.599679822176638e-28]

The table is as follows. The formula to record the runtimes can be found at the end of the notebook.

<table border="1">
  <tr>
    <th rowspan="2">Method</th>
    <th colspan="2" style="text-align: center;">Dataset 1</th>
    <th colspan="2" style="text-align: center;">Dataset 2</th>
    <th colspan="2" style="text-align: center;">Dataset 3</th>
  </tr>
  <tr>
    <th style="text-align: center;">MSE</th>
    <th style="text-align: center;">Runtime (seconds)</th>
    <th style="text-align: center;">MSE</th>
    <th style="text-align: center;">Runtime (seconds)</th>
    <th style="text-align: center;">MSE</th>
    <th style="text-align: center;">Runtime (seconds)</th>
  </tr>
  <tr>
    <td style="text-align: center;">Method 1</td>
    <td style="text-align: center;">-</td>
    <td style="text-align: center;">0.000254</td>
    <td style="text-align: center;">-</td>
    <td style="text-align: center;">0.018841</td>
    <td style="text-align: center;">-</td>
    <td style="text-align: center;">2.383093</td>
  </tr>
  <tr>
    <td style="text-align: center;">Method 2</td>
    <td style="text-align: center;">1.5787780255064233e-07</td>
    <td style="text-align: center;">2.944921</td>
    <td style="text-align: center;">7.572345761625216e-09</td>
    <td style="text-align: center;">3.077945</td>
    <td style="text-align: center;">9.75464902443305e-10</td>
    <td style="text-align: center;">3.485565</td>
  </tr>
  <tr>
    <td style="text-align: center;">Method 3</td>
    <td style="text-align: center;">2.373708656457268e-33</td>
    <td style="text-align: center;"> 0.000137</td>
    <td style="text-align: center;">5.0546633243550626e-34</td>
    <td style="text-align: center;">0.003989</td>
    <td style="text-align: center;">9.599679822176638e-28</td>
    <td style="text-align: center;">0.448079</td>
  </tr>
</table>

## Task 4

The results can be found in the table above. Let's start with the runtime. As expected, the runtime increases as the number of the state increases, i.e. as the dimension of the transition matrix increases. Also, we can rank the methods from most time consuming to the least as follows: Method 2 > Method 1 > Method 3. 

Between the method 2 and 3, the latter is more reliable, namely method 3. When looked at the mean squared errors, it is obvious that the MSE is far greater for Method 2. Method 2 simulates the result using one-million steps. It can only approximate the result. For a more accurate approximation, the number of steps can be increased. 

In method 3, the number of iterations becomes smaller as we go from dataset 1 to 3. This can be due to the fact that the entries are becoming smaller as well. Therefore, the difference goes to epsilon very easily. The count of the iterations respectively is 6, 5 and 4.

## Task 5

In [25]:
# Make the first state absorbing for the dataset 1

P_abs = np.loadtxt("Markov Chain Dataset/student_id_2018402021/HW2_2018402021_10.txt")

for i in range(len(P_abs)):
    
    if i != 0:
        P_abs[0][i] = 0
    else:
        P_abs[0][i] = 1

In [26]:
P_abs

array([[1.      , 0.      , 0.      , 0.      , 0.      , 0.      ,
        0.      , 0.      , 0.      , 0.      ],
       [0.023798, 0.024766, 0.038094, 0.019809, 0.041271, 0.169825,
        0.075336, 0.248166, 0.00227 , 0.356665],
       [0.060644, 0.032877, 0.134373, 0.142838, 0.142219, 0.015933,
        0.021326, 0.006111, 0.200105, 0.243574],
       [0.154388, 0.017186, 0.079644, 0.092527, 0.061591, 0.032734,
        0.0353  , 0.207358, 0.058977, 0.260295],
       [0.004562, 0.189647, 0.014211, 0.056196, 0.22434 , 0.024223,
        0.064229, 0.082235, 0.257278, 0.083079],
       [0.079778, 0.018543, 0.34212 , 0.161995, 0.097638, 0.02926 ,
        0.030958, 0.060095, 0.074001, 0.105612],
       [0.057162, 0.098194, 0.029669, 0.159792, 0.243542, 0.187441,
        0.094663, 0.001931, 0.071037, 0.056569],
       [0.069748, 0.069504, 0.104494, 0.187453, 0.112556, 0.043784,
        0.077104, 0.04493 , 0.219061, 0.071366],
       [0.366395, 0.036849, 0.047978, 0.060985, 0.186019, 0.0239  ,
        0.015285, 0.061962, 0.146776, 0.053851],
       [0.069296, 0.063422, 0.059965, 0.025006, 0.039016, 0.236504,
        0.080452, 0.230293, 0.080827, 0.115219]])

In [27]:
analytic_solution(P_abs)

[1.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0]

In [32]:
simulation(P_abs, 10**6)

[0.99999, 1e-06, 0.0, 0.0, 3e-06, 1e-06, 0.0, 1e-06, 1e-06, 3e-06]

In [33]:
matrix_multiplication(P_abs, 0.000001)

[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

The result for the new dataset is as expected. Since the first state has become absorbing, when we go to the first state, we are trapped there. As n goes to infinity, the P matrix becomes all ones for the first state and 0s for the rest.

### Task 3 Time Formula

In [23]:
# total_time_1 = 0
# total_time_2 = 0
# total_time_3 = 0

# for _ in range(1000):
#     start_time = time.time()
#     result100_1 = analytic_solution(P1000)
#     end_time = time.time()
#     total_time_1 += (end_time - start_time)

#     start_time = time.time()
#     result100_2 = simulation(P1000, T)
#     end_time = time.time()
#     total_time_2 += (end_time - start_time)

#     start_time = time.time()
#     result100_3 = matrix_multiplication(P1000, epsilon)
#     end_time = time.time()
#     total_time_3 += (end_time - start_time)

# average_time_1 = total_time_1 / 1000
# average_time_2 = total_time_2 / 1000
# average_time_3 = total_time_3 / 1000